<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.appshed.appcario" version="188.0.0">
  <name>AppCar.io</name>
  <description>A Remote Controlled Car, built using AppShed IoT. </description>
  <author email="iot@appshed.com">iot tester</author>
  <preference name="webviewbounce" value="false"/>
  <preference name="detect-data-types" value="false"/>
  <preference name="stay-in-webview" value="true"/>
  <access origin="*" uri="*"/>
  <gap:plugin name="com.adobe.plugins.gaplugin"/>
  <gap:plugin name="org.apache.cordova.inappbrowser"/>
  <gap:plugin name="org.apache.cordova.camera"/>
  <gap:plugin name="org.apache.cordova.media-capture"/>
  <gap:plugin name="org.apache.cordova.geolocation"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.file-transfer"/>
  <icon src="Icon2x.png" width="29" height="29" gap:platform="ios"/>
  <icon src="size_app_icon_iphone_settings_retina2x.png" width="58" height="58" gap:platform="ios"/>
  <icon src="icon_ipad_ios6_spotlight.png" width="50" height="50" gap:platform="ios"/>
  <icon src="icon_ipad_ios6_spotlight_retina.png" width="100" height="100" gap:platform="ios"/>
  <icon src="icon_app_spotlight.png" width="100" height="100" gap:platform="ios"/>
  <icon src="Icon.png"/>
  <icon src="Icon.png" width="57" height="57" gap:platform="ios"/>
  <icon src="Icon2x.png" width="114" height="114" gap:platform="ios"/>
  <icon src="Icon72.png" width="72" height="72" gap:platform="ios"/>
  <icon src="Icon722x.png" width="144" height="144" gap:platform="ios"/>
  <icon src="icon_ipad_ios7.png" width="76" height="76" gap:platform="ios"/>
  <icon src="icon_ipad_ios7_x22x.png" width="152" height="152" gap:platform="ios"/>
  <icon src="icon_spotlight.png" width="152" height="152" gap:platform="ios"/>
  <icon src="icon_spotlight.png" width="152" height="152" gap:platform="ios"/>
  <icon src="size_app_icon_ipad_settings.png" width="100" height="100" gap:platform="ios"/>
  <icon src="size_app_icon_ipad_settings_retina2x.png" width="100" height="100" gap:platform="ios"/>
  <icon src="icon_ipad_spotlight.png" width="80" height="80" gap:platform="ios"/>
  <icon src="icon_ipad_spotlight_retina2x.png" width="80" height="80" gap:platform="ios"/>
  <gap:splash src="Default.png"/>
  <gap:splash src="Default.png" width="320" height="480" gap:platform="ios"/>
  <gap:splash src="Default2x.png" width="640" height="960" gap:platform="ios"/>
  <gap:splash src="Defaulth5682x.png" width="640" height="1136" gap:platform="ios"/>
  <gap:splash src="DefaultLandscapeipad.png" width="1024" height="768" gap:platform="ios"/>
  <gap:splash src="DefaultLandscapeipad2x.png" width="2048" height="1536" gap:platform="ios"/>
  <gap:splash src="DefaultPortraitipad.png" width="768" height="1024" gap:platform="ios"/>
  <gap:splash src="DefaultPortraitipad2x.png" width="1536" height="2048" gap:platform="ios"/>
</widget>
